* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#grid_wrapper {
 width: 100vw;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 100px 660px 150px;
 grid-template-areas:
 "he"
 "se"
 "fo"
 ;
}

header {
    grid-area: he;
    background: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
/* #logga_img {
    
} */

nav {
    display: flex;
    width: 570px;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}

#list_link {
    list-style: none;
    display: flex;
    width: 500px;
    margin-right: 30px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.75rem;
}

.meny_link:hover {
    font-weight: bold;
}

.meny_link {
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#hamburger:hover {
    cursor: pointer;
}

.hamburger_line {
    background: white;
    height: 8px;
    width: 55px;
    margin: 7px;
    border-radius: 10px;
}

section {
    grid-area: se;
    background-image: url("../img/background_homepage.jpg");
    background-size: cover;
}

footer {
    grid-area: fo;
    background: wheat;
}